:root{
--dark_green : #264653;
--moss_green: #2a9d8f;
--orchre_yellow : #2a9d8f;
--peach: #f4a261;
--tangerine:#e76f51;
--black :#212529;
--grey : #e9ecef;
--white:#fdfffc;

}
.container-fluid{
    padding: 0;
}
.material-symbols-outlined{
    font-size: larger;

}
.new_task_options_left .material-symbols-outlined:hover , .new_task_options_right .material-symbols-outlined:hover{
    background-color: var(--grey);
    border-radius: 15px;

 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
}
[contenteditable] {
    outline: 0px solid transparent;
  }


  input[type='date']{
    border: none;
    outline: none;
    border-bottom: 2px solid green;

}
select{
    border: none;
    border-bottom: 2px solid var(--grey);
outline:none;
}
.flex{
    display: flex;
}
.nav_header{
   
    background-color: var(--grey);
    position: relative;
    width: 100%;
}
.side_menu_btn_container{
    flex: 1 auto;
    justify-content: space-around;
    align-items: center;
    
}
.side_menu_button .material-symbols-outlined:hover{
    background-color: var(--tangerine);
    cursor: pointer;
    border-radius: 3px;
    
}
.search_note_container{
    flex: 2 1 auto;
}
.search_container{
    border-radius: 3px;
    align-items: center;
    outline: 2px solid green;
    background-color: var(--white);
    margin-top: 11px;
    width: 500px;
}
.search_icon{
    margin-top: 3px;
}
.search_container input{
    border: none;
    outline: none;
    background-color: transparent;
    padding-inline-start: 3px;
    width: 100%;
}
.search_input{
    flex: 2 1 auto;
}
.account_info_container{
    flex: 1 0 auto;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
}

.task_viewer_container{
    width: 100% ;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 15% 85%;
}


.task_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline ;
    
}
.task_list_col{
position: relative;
border-right: 2px solid white ;
display: flex;
flex-direction: column;
align-items: center;
}


.task_list_header{
    width: 60%;
    height: 3rem;
    text-align: center;
    border-right: 2px solid #212529;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    background-color: #264653;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task_list_header p{
    margin-top:10px ;
   margin-right: 20px;
}

.col_card_container{
    padding: 0 2rem;
}

.task_metadata{
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.modal_metadata_container{
    display: flex;
    justify-content: center;
}


/* Card CSS */

.task_card{
    max-width:300px;  
    min-width: 20%;
    height: max-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    background-color: var(--grey);
    padding: 10px;
}

.task_card_header{
    margin: 10px 0 0px 10px;
    font-weight: bold;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.task_card_body{
    margin: 0 0 20px 10px;
    overflow-wrap: break-word;
}
.card_metadata{
    display: flex;
    justify-content: flex-end;
}
.card_metadata_body{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 3px;
}



/* New Task Container */
.new_task_container{
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.new_task_input_container{
    width: 600px;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    z-index: 100;
}
.task_data_input,.task_body_input{
    display: flex;
    align-items: center;
    overflow-wrap :break-word ;
  
}
.task_title_input_container,.task_body_input_container{
    flex: 1 0 450px;
}
.task_title_input,.task_body_input{
    padding-top: 10px;
    min-height: 43px;
    max-width: 550px;
    padding-inline-start: 10px;
}
.new_task_options{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.new_task_options_left,.new_task_options_right{
    display: flex;
    cursor: pointer;
}

.toggle_input{
    max-height: 2px;
    overflow: hidden;
    transition: all .8s ease;
}
.toggle_input.expand {
    max-height: 250px;
  }


  .task_body_input{
    width: 100%;
  }